* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica;
    background-color: rgb(41,41,41);
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 40px auto;
    grid-template-areas:
    "nav nav nav nav"
    ". pokedex-image pokedex-image ."

}

nav{
    display: flex;
    grid-area: nav; 
    height: 40px;
    background-color: rgb(254,25,75);
}

.nav-items{
    margin: 5px;
}
.search{
    grid-row-start: 2;
    grid-column-start:2;
} 
#search-term{
    width: 200px;
}
#search-button{
}

.pokedex-images{
    grid-area: pokedex-image;
    
    /* display: grid; */
}
.pokedex-images>img{
    position:relative;
    margin: 10px;
    height: 100vh;
    
}
.results{
    display: grid;
}
.search{
    
}
#profile {
    grid-column-start: 10;
}