* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica;
    background-color: rgb(41,41,41);
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 40px auto;
    grid-template-areas:
    "nav nav nav nav"
    ". pokedex pokedex .";
    align-items: center;
}

nav{
    display: flex;
    grid-area: nav; 
    height: 40px;
    background-color: rgb(254,25,75);
}

.nav-items{
    margin: 5px;
}
.search{
    margin: 5px;
} 
#search-term{
    width: 200px;
}
/* #search-button{
} */

.pokedex{
    margin: 20px 0 0 0 ;
    height: 80vh;
    width: 60vw;
    grid-area:pokedex;
    background-image: url('../resources/images/pokedex.png');
    background-size: 90% 100%; 
    background-repeat: no-repeat;
    overflow: hidden;
    /* display: grid;
    grid-template-columns: ; */
}

/* .pokedex-images{
    grid-area: pokedex-image;
    position:relative;
}
.pokedex-images>img{
    position:relative;
    margin: 10px;
    height: 100vh;
    
} */
/* .results{
    display: grid;
} */

/* #profile {
    grid-column-start: 10;
} */